h3 {
	font-family: sans-serif;
	color: #333333;
}

section {
	width: 50%;
	margin: 0 auto;
}

p {
	font-family: Times;
	color: #333333;
}

nav li {
	margin: 0 auto;
	display: inline;
	text-decoration: none;
}

nav ul {
	margin: 0 auto;
}