<!DOCTYPE html>
<html>
<head>
	<title>Express Test</title>
	<% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
	<section>
		<article>
			<h3>First Title</h3>
			<p>This is a sample site to test the functionality of Express.js. It includes partials as a way to allow for modular development where we can code once and reuse wherever we want.</p>
		</article>
		<article>
			<h3>Second Title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus consequat ligula ac sodales. Nulla consectetur orci efficitur nibh volutpat vestibulum. Mauris iaculis lacus leo, interdum facilisis neque ultrices hendrerit. In hac habitasse platea dictumst. Sed volutpat cursus tempus. Suspendisse tempor justo nibh, et semper lacus sodales in. Sed ac faucibus ex. Curabitur varius pulvinar tincidunt.</p>
		</article>
	</section>

</body>
</html>